#simulation-container {
  height: 100%;
  width: 100%;

  &>div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "clas ctrl"
      "clas expl";
  }

  & section {
    padding: 20px;
    border-radius: 20px;
  }

  & #simulator {
    grid-area: clas;
    background-color: var(--secondary-orange);
    margin: 0 20px 0 0;
  }

  & #controller-area {
    grid-area: ctrl;
    background-color: var(--primary-dark-magenta);
    color: var(--secondary-text-color);
    margin: 0 0 20px 20px;
  }

  & #explanation-area {
    grid-area: expl;
    background-color: var(--primary-dark-pink);
    margin: 20px 0 0 20px;
  }
}