#home-container {
  font-size: 1.2rem;

  h2 {
    font-size: 3rem;
  }

  p {
    text-indent: 2em;
  }

  section {
    background-color: var(--secondary-orange);
    padding: 25px;
    border-radius: 10px;
    margin: 30px 0;
  }
}