:root {
  --primary-deep-blue: #0B001E;
  --primary-orange: #D9631E;
  --secondary-orange: #FA5A35;
  --primary-dark-magenta: #830049;
  --primary-dark-pink: #CE0052;
  --secondary-text-color: #FFD981;
  --text-color: #FFF;
}